*{
    FOnt-family:sans-serif;
    
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:1px solid;
    font-size: small;
    position: static;
    background-color: #f5f5f5;

}
.header{
    background-color: rgb(231, 224, 224);
    height:20px;
    position:fixed;
    width:100%;
    border:;
    box-shadow: 0px 1px 2px grey;
}
.header ul{
    border:;
    margin:2px 0px 0px 300px;
    padding:;
    width:80%;
}
.header ul li{
    display:inline;
    border:;
    padding:10px;
    font-size:13px;


}
.header ul li>a:hover{
    color:rgb(250, 158, 115);
    text-decoration:underline;
    transition: 1s;

}
.header ul li>a{
    text-decoration:none;
    color:black;
    padding:10px;
    position:;
}
#orange>a{
    color:rgb(250, 158, 115);
}
.logo{
    position:fixed;
    
}
 #img1 img{
    width:135px;
    height:41px;
    margin:15px 0px 10px 180px;
    position: fixed;
}

#trolley img{
    width:25px;
    height:22px;
    position: absolute;
    top:48px;
    left:1080px;
    position: fixed;
    background-color: #f5f5f5;

}
#input{
    width:40%;
    /* margin:0px 0px 280px 380px; */
     position: absolute;
    top:35px;
    left:340px;
    position: fixed;


}
#input input{
    width:650px;
    height:30px;
    padding:5px;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;;

}

#input  img{
    width:45px;
    height:42px;
    background-color: white;
    position: absolute;
    top:1px;
    left:618px;



}
#input button{
    border: ;
    background-color:;
    /* position: absolute;
    top:10px;
    left:63px; */
  
}
#img3 img{
    width:185px;
    height:45px;
    position: absolute;
    top:35px;
    left:1150px;
    position: fixed;
    background-color: ;
}
.middleimage img{
        width:100%;
        width:988px;
        height:344px;
        position:absolute;
        top:92px;
        left: 345px;
        border: 1px solid;
        position:;
        z-index:-1;
            

}

.middleimage{
    width:99.98%;
    height:350px;
    margin:90px 0px 0px 0px;
    border:;
    background-color:;
}

.contain{
    /* border:1px solid;
    background-color:whitesmoke;
    width:150px;
    margin:1px 0px 0px 172px;
    z-index: ; */
    padding: 8px 0 12px;
    list-style: none;
    height: 94%;
    margin: 0;
    border:;
    width:24%;
    position: absolute;
    left:169px;
    background-color: ;
    
}
.contain ul li{
    display:block;
    padding:4px 10px 10px 4px;
    border:1px ;
    width:160px;
    list-style: none;
    margin:0px 0px 0px -40px;


}
.contain ul{
    border:1px;
    width:80%;
    height:px;
    border:;
    position: absolute;
    top:-13px;


}
.none{
    display:none ;
    border:1px solid white;
    height:350px;
}
.none a{
    text-decoration:none;
    color:black;
}
.none a:hover{
    color:royalblue;

}
.none:hover{
    border:1px solid rgb(157, 177, 235);
    border-radius:3px;
    background-color: black;
    color:black;
    width:160px;
}
.hvr{
    cursor: pointer;
}
.hvr:hover{
    background-color:rgb(163, 183, 241);
    border:1px solid rgb(157, 177, 235); 
}
.hvr:hover> .none{
    display: inline;
    position: absolute;
    top:-1px;
    left:170px;
    background-color:whitesmoke;
    
}
@media only screen and (max-width: 700px) {
   .contain{ 
       position:absolute;
       left:0px;
       bottom:0px;
       top:90px;

   }
    
}
@media only screen and (max-width: 700px) {
     .inline{
        display:none;

    }
}
.input{
    display:flex;
    flex-direction: row;
    justify-content:center;
    border:1px ;
    justify-content: space-evenly;
    margin:20px 0px 0px 0px;
}
#input1 {
    width:300px;
    height:30px;
    border-radius:50px;
    padding:0px 0px 0px 35px;
    background-image:url(./mart.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    font-size:large;
}
#input1:hover{
    color:green;
    box-shadow: 2px 2px 4px black;


}  
    
#input2 {
    width:300px;
    height:30px;
    border-radius:50px;
    padding:0px 0px 0px 35px;
    background-image:url(./mart.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    font-size:large;
}
#input1:hover{
    color:green;
    box-shadow: 2px 2px 4px black;


}  
#input3{
    width:300px;
    height:30px;
    border-radius:50px;
    padding:0px 0px 0px 35px;
    background-image:url(./mart.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    font-size:large;
}
#input1:hover{
    color:green;
    box-shadow: 2px 2px 4px black;


}  
.sale h2{
    color:grey;
    margin:40px 0px 0px 150px;
}
.images{
    border:1px solid;
    width:80%;
    height:400px;
    margin:0 auto;
    background-color: white;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.onsale{
    border:;
    height:30px;
    padding:8px;
}
.onsale span{
    color:orange;
    padding:;
}
.ending{
    width:82%;
    border:;
    height:50px;
    
}
.ending span>button{
    margin: 5px;
    background-color: orange;
    color:white;
    height:40px;
    width:40px;
    border:1px solid orange

}
.showmore{
    border:1px solid;
    height:30px;
}
.showmore {
    background-color:white;
    width:100px;
    height:40px;
    margin:5px;
    padding-top:15px;
    padding-left: 22px;
    color:orange;
}
.imag img{
    width:210px;
    height:200px;
}
#orange{
    color:orange;
    font-size: x-large;
}
.imag{
    display:flex;
    flex-wrap:wrap ;
}
.two{
    margin-left: 50px;
}
.three{
    margin-left: 50px;
}
.four{
    margin-left: 50px;
}
.five{
    margin-left: 50px;
}
.six{
    margin-left: 50px;
}
.foot{
    border:1px solid;
    width:100%;
    margin:0 auto;
    background-color: #2e2e54;
    margin-top:30px;
    display: flex;
}
.list1 li{
    color:white;
    list-style: none;
}
.list1>h2{
    margin-left: 50px;
    margin-top:10px;;
}
.list1{
    margin: 0px 0px 0px 90px;
}
.list2{
    margin:0px 0px 0px 90px;
}
.list2 li{
    color:white;
    list-style: none;
}
.list3 img{
    width:80px ;
    height:70px;
}
.list3{
    margin:0px 0px 0px 90px;
}
#blue a{
    color:orange;
}

