@font-face {
    font-family:roboto ;
    src: url(./fontss/RobotoMono-Medium.ttf);
}

.middleimage{
    /* border: 1px solid red; */
}
.bg{
    /* border: 1px solid red; */
    position: absolute;
    left: 0px;
    height: 366px;
    width: 192px;
    animation-name: mymove;
    animation-duration:17s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    /* animation-direction: normal; */
    animation-timing-function: linear;
    /* animation-fill-mode: none; */
    /* animation: mymove; */
}
@keyframes mymove {
    25%{background-color: aquamarine;}
    50%{background-color: darkcyan;}
    75%{background-color: purple;}
    100%{background-color: #f57223;}
    /* 100%{background-color: #f57224;} */
}



body{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
    /* border:1px solid; */
    font-size: small;
    /* position: static; */

}
.header{
    background-color:#f5f5f5;
    height:25px;
    position:fixed;
    top: 0px;
    width:100%;
    /* border: 1px solid red; */
    box-shadow: 0px 1px 2px grey;
    z-index: 12;
}
.header ul{
    margin:0px 100px 0px 430px;
    width:65%;
    /* border: 1px solid; */
    padding: 1px;
}
.header ul li{
    display:inline;
    padding-left:30px;
    font-size:13px;


}
.header ul li>a:hover{
    color:rgb(250, 158, 115);
    text-decoration:underline;
    transition: 1s;

}
.header ul li>a{
    text-decoration:none;
    color:black;
    padding:2px;
}
#orange>a{
    color:rgb(250, 158, 115);
}
.logo{
    /* position:fixed; */
    /* border: 1px solid; */
    margin-left: 200px;
    
}
.midnav{
    /* border: 1px solid red; */
    background-color: white;
    height: 50px;
    display: flex;
    margin-top:30px;
    position: sticky;
    top: 25px;
    z-index: 100;
    /* justify-content: space-evenly; */

    
}
 #img1 img{
    width:135px;
    height:41px;
    /* margin:15px 0px 10px 180px; */
    /* position: fixed; */
}
#trolley{
    /* border: 1px solid; */
    margin: 13px;
    margin-left: 30px;

}

#trolley img{
    width:25px;
    height:22px;
    /* position: absolute; */
    /* top:48px; */
    /* left:1080px; */
    /* position: fixed; */
    background-color: #f5f5f5;

}
#input{
    /* border: 1px solid lightgray; */
    width: 40%;
    margin: 4px;
    margin-left: 80px;
    background-color: #f5f5f5;
    /* margin: 0 auto; */
    /* margin:0px 0px 280px 380px; */
     /* position: absolute; */
    /* top:35px; */
    /* left:340px; */
    /* position: fixed; */
    display: flex;


}
#input button{
    width: 50px;
    height: 5.1.1vh;
    border: none;
    background-color: #f57224;
   
}
#input button::before{
    content: '';
    background-image: url(./assets/search\ icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}
#input input{
    height: 4.4vh;
    width: 95%;
    border: none;
    padding-left: 30px;
    background-color: #f5f5f5;
    
}


#img3{
    /* border: 1px solid; */
    margin: 2px;
    width: 15%;


}
#img3 img{
    width:185px;
    height:45px;
    margin-left: 50px;
    /* position: absolute; */
    /* top:35px/; */
    /* top:35px/; */
    /* left:1150px; */
    /* position: fixed; */
    /* background-color: ; */
}
.middleimage img{
        width:100%;
        width:988px;
        height:365px;
        /* position:absolute; */
        /* top:92px; */
        /* left: 345px; */
        /* border: 1px solid; */
        /* position:; */
        /* z-index:-1; */
            

}

.middleimage{
    /* border: 1px solid red; */
    width: 74.7%;
    margin: 0px 0px 0px 400px;
    margin-top: 10px;
    height: 365px;
}

.contain{
    /* border:1px solid; */
    background-color:whitesmoke;
    width:150px;
    margin:1px 0px 0px 172px;
     width:13%; 
     position: absolute;
     top:89px;
     left:22px;
     height: 366px;
    /* border: 1px solid red;
    position: absolute;
    top: 50px;
    left: 50px; */
    
}
.contain ul li{
    /* border:1px solid; */
    list-style: none;
    padding: 1px;
    /* margin:0px 0px 0px -40px; */


}
.contain ul{
    /* width:80%; */
    /* height: 100px; */
    /* position: absolute; */
    /* top:-13px; */
    padding: 10px;
    background-color: white;


}
.none{
    display:none;
    border:1px solid #f5f5f5;
}
.none a{
    text-decoration:none;
    color:black;

    /* width: 100s%; */
}
.none a:hover{
    color:grey;

}
.none:hover{
    border:1px solid #f5f5f5;
    border-radius:3px;
    /* background-color: black; */
    /* color:black; */
    width:180px;
}
.hvr{
    cursor: pointer;
}
.hvr:hover{
    background-color:#f5f5f5;
    color: royalblue;
    /* border:1px solid rgb(157, 177, 235);  */
}
.hvr:hover> .none{
    width: 100%;
    display: block;
    position: absolute;
    top: -1px;
    left:200px;
    padding: 4px;
    height: 366px;
    /* border: 1px solid red; */
    background-color: white;
    color: black; 
    z-index: 10;   
}
.midimg2{
    border: 1px solid orange;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;

}
.midimg2 img{
    width: 100%;
    height: 150px;
    margin: 0 auto;


}
.input{
    display:flex;
    flex-direction: row;
    justify-content:center;
    border:1px;
    padding: 10px;
    justify-content: space-evenly;
    margin:20px 0px 0px 0px;
    /* border: 1px solid red; */
}
.input1{
    /* border: 1px solid; */
    border: none;
    width: 400px;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 50px;
}

.input1:hover{
    box-shadow: 3px 3px 4px grey;
    cursor: pointer;
}
.input2{
    /* border: 1px solid; */
    border: none;
    width: 400px;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 50px;
}

.input2:hover{
    box-shadow: 3px 3px 4px grey;
    cursor: pointer;
}
.input3{
    /* border: 1px solid; */
    border: none;
    width: 400px;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 50px;
}

.input3:hover{
    box-shadow: 3px 3px 4px grey;
    cursor: pointer;
}
.sale{
    /* border: 1px solid red; */
    width: 80%;
    margin: 10px auto;
}
.card{
    font-size: 15px;
    height: 400px;
    width: 200px;
    margin: 10px;
}
.card:hover{
        box-shadow: 3px 3px 6px grey;
}
.card img{
    width: 190px;
    height: 180px;
    /* border: 1px solid; */

}
.showmore{
    /* border: 1px solid red; */
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    
}
.flash{
    /* border: 1px solid red; */
    margin: 2px;
    padding: 5px;

}
.number{
    /* border: 1px solid red; */
    margin: 2px;
    padding: 5px;
    width: 1020px;

}
.number button{
    border: none;
    background-color: #f57224;
    color: white;
    height: 32px;
}
.cards{
    display: flex;
    flex-direction: row;
}
.show{
    border: 1px solid #f57224;
    margin: 2px;
    padding: 5px;
    margin-left: 10px;
    color: #f57224;

}
#small{
    color: gray;
    font-size: 12px;
}
.darazmall{
    /* border: 1px solid red; */
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}
.items{
    /* border: 1px solid aqua; */
    display: flex;
    flex-direction: row;
}
.item1 , .item2,.item3,.item4,.item5,.item6,.item7{
    /* border: 1px solid red; */
    width: 190px;
    text-align: center;
    margin: 8px;

}
.item1:hover{
        box-shadow: 3px 3px 6px grey;
}
.item2:hover{
        box-shadow: 3px 3px 6px grey;
}
.item3:hover{
        box-shadow: 3px 3px 6px grey;
}
.item4:hover{
        box-shadow: 3px 3px 6px grey;
}
.item5:hover{
        box-shadow: 3px 3px 6px grey;
}
.item6:hover{
        box-shadow: 3px 3px 6px grey;
}
.item1 img{
    /* border: 1px solid red; */
    height: 150px;
    width: 190px;
}
.item2 img{
    /* border: 1px solid red; */
    height: 150px;
    width: 190px

}
.item3 img{
    /* border: 1px solid red; */
    height: 150px;
    width: 190px

}
.item4 img{
    /* border: 1px solid red; */
    height: 150px;
    width: 190px

}
.item5 img{
    /* border: 1px solid red; */
    height: 150px;
    width: 190px

}
.item6 img{
    /* border: 1px solid red; */
    height: 150px;
    width: 190px

}
.catogories{
    /* border: 1px solid red; */
    width: 80%;
    margin: 10px auto;
    padding: 10px;

}
.cats{
    display: flex;
    flex-direction: row;
}
.cat1:hover{
    box-shadow: 3px 3px 6px grey;

}
.cat2:hover{
    box-shadow: 3px 3px 6px grey;

}
.cat3:hover{
    box-shadow: 3px 3px 6px grey;

}
.cat4:hover{
    box-shadow: 3px 3px 6px grey;

}
.cat5:hover{
    box-shadow: 3px 3px 6px grey;

}
.cat6:hover{
    box-shadow: 3px 3px 6px grey;

}
.cat7:hover{
    box-shadow: 3px 3px 6px grey;

}
.cat8:hover{
    box-shadow: 3px 3px 6px grey;

}
.cat1{
    /* border: 1px solid red; */
    height: 120px;
    width: 130px;
    margin-left:5px;
    text-align: center;
    
}
/* .cat1,.cat2,.cat3,.cat4,.cat5,.cat6,.cat7,.cat8:hover{
    box-shadow: 3px 3px 6px grey;
} */
.cat1 img{
    width: 80px;
    height: 80px;
}
.cat2{
    /* border: 1px solid red; */
    height: 120px;
    width: 130px;
    margin-left:29px;
    text-align:center;
}
.cat2 img{
    width: 80px;
    height: 80px;
}
.cat3{
    /* border: 1px solid red; */
    height: 120px;
    width: 130px;
    margin-left:29px;
    text-align:center;
}
.cat3 img{
    width: 80px;
    height: 80px;
}


.cat4{
    /* border: 1px solid red; */
    height: 120px;
    width: 130px;
    margin-left:29px;
    text-align:center;
}
.cat4 img{
    width: 80px;
    height: 80px;
}

.cat5{
    /* border: 1px solid red; */
    height: 120px;
    width: 130px;
    margin-left:29px;
    text-align: center;

}
.cat5 img{
    width: 80px;
    height: 80px;
}

.cat6{
    /* border: 1px solid red; */
    height: 120px;
    width: 130px;
    margin-left:29px;
    text-align:center;
}
.cat6 img{
    width: 80px;
    height: 80px;
}

.cat7{
    /* border: 1px solid red; */
    height: 120px;
    width: 130px;
    margin-left:29px;
    text-align:center;
}
.cat7 img{
    width: 80px;
    height: 80px;
}

.cat8{
    /* border: 1px solid red; */
    height: 120px;
    width: 130px;
    margin-left:29px;
        text-align:center;
}
.cat8 img{
    width: 80px;
    height: 80px;
}
.you{
    /* border: 1px solid red; */
    width: 100px;
    margin: 10px;
}

#orange{
    color:orange;
    font-size: 30px;
}
.foot{
    /* border:1px solid; */
    width:100%;
    background-color: #2e2e54;
    margin-top:30px;
}
.footer1{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */



}

.list1 {
    /* border: 1px solid white; */
    font-size: 14px;
}
.list1 li{
    margin: 2px;
    color: white;
    list-style: none;
}
.list2{
    /* border: 1px solid white; */
    font-size: 14px;

}
.list2 li{
    margin: 2px;
    color: white;
    list-style: none;
}




.list3{
    /* border: 1px solid white; */
    margin: 0 auto;
}
.list3 img{
    width: 50px;
    height: 50px;
}
#qr{
    width: 100px;
    height: 100px;
    margin: 4px;
}
#orange2{
    color: #f57224;
    margin-left: 110px;
    /* border: 1px solid; */
}
#white{
    color:white;
    /* border: 1px solid; */
    margin-left: 110px;

}
.cover{
    /* border: 1px solid; */
    display: flex;
}
.app{
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}
.app img{
    width: 35px;
    height: 35px;
    padding: 4px;
}
.play{
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}
.play img{
    width: 35px;
    height: 35px;
    padding: 4px;
}
.gallery{
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}
.gallery img{
    width: 35px;
    height: 35px;
    padding: 4px;
}
.footer2{
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;

}
.one{
    /* border: 1px solid red; */
    margin: 10px;
    padding: 10px;
    width: 20vw;    
}
.one img{
    width: 60px;
    height: 50px;
    border-radius: 10px;
    /* border: 1px solid black; */
}
.two{
    /* border: 1px solid red;  */
    margin: 10px;
    padding: 10px;
    width: 20vw;       

}
.two img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    /* border: 1px solid black; */

}
.three{
    /* border: 1px solid red;     */
    margin: 10px;
    padding: 10px;
    width: 20vw;     
}
.three img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.four{
    /* border: 1px solid red;     */
    margin: 10px;
    padding: 10px;
    width: 20vw;   

}
.four img{
    width: 250px;
    height: 150px;
}

.midpart{
    background-color: #f5f5f5;
}
  @media screen and (max-width:1349px) {
    .contain ul{
        height: 366px;
        margin: 0px;
        /* border: 1px solid red; */

        padding: 0.9px;
    }
}  
@media screen and  (min-width:1200px), (max-width:1200px){
    .contain ul{
        /* border: 1px solid red; */
        height: 385px;
        margin: 0px;

        padding: 0px;
    }
}
@media screen and (max-width:1024px) {
    .contain,.contain ul{
        /* border: 1px solid red; */
        display: none;
    }
}
@media screen and (max-width:1200px) {
    .header,.header ul{
        /* border: 1px solid red; */
        width: 100%;

    }
    .header ul{
        margin: 0 300px;
    }
}
@media screen and (max-width:1024px) {
    .header,.header ul{
        /* border: 1px solid red; */
        width: 100%;

    }
    .header ul{
        margin: 0 100px;
    }
}
@media screen and (max-width:786px) {
    .header,.header ul{
        /* border: 1px solid red; */
        display: none;

    }
    .header ul {
        display: none;
    }
}
@media screen and (max-width:786px) {
    .midnav{
    width: 90%;
    border: 1px solid red;
    margin: 0 auto;


    }
    .logo{
        width: 20%;
        border: 1px solid red;
        margin-left: -2px;
    }
    #input{
        border: 1px solid red;
        margin-left: 10px;
        width: 90%;
        
    }
    #img3{
        display: none;

    }
}
@media screen and (max-width:600px) {
    .midnav{
    width: 90%;
    border: 1px solid red;
    margin: 0 auto;


    }
    .logo{
        width: 30%;
        border: 1px solid red;
        margin-left: -2px;
    }
    #input{
        border: 1px solid red;
        margin-left: 10px;
        width: 90%;
        
    }
    #img3{
        display: none;

    }
    #trolley{
        display: none;
    }
}
@media screen and (max-width:480px) {
    .midnav{
    width: 100%;
    border: 1px solid red;
    margin: 0 auto;


    }
    .logo{
        width: 30%;
        border: 1px solid red;
        margin-left: -2px;
    }
    #input{
        border: 1px solid red;
        margin-left: 10px;
        width: 90%;
        
    }
    #img3{
        display: none;

    }
}
@media screen and (max-width:360px) {
    .midnav{
    width: 100%;
    border: 1px solid red;
    margin: 0 auto;


    }
    .logo{
        width: 20%;
        border: 1px solid red;
        margin-left: -2px;
        display: none;
    }
    #input{
        border: 1px solid red;
        margin-left: 10px;
        width: 100%;
        
    }
    #img3{
        display: none;

    }
}
@media screen and (max-width:1024px) {

    .middleimage{
        border: 1px solid red;
        width: 100%;
        margin: 10px auto;
    }
}
@media screen and (max-width:786px) {
    .middleimage{
    width: 100%;
    border: 1px solid red;
    margin: 40px auto;
    }

}
@media screen and (max-width:600px) {
    .middleimage{
        display: none;
    }

}
@media screen and (max-width:786px) {
    .midimg2{
        width: 100%;
    }

}
@media screen and (max-width:600px) {
    .midimg2{
        margin-top: 40px;
    }

}
@media screen and (max-width:360px) {
    .midimg2{
        display: none;
    }

}
@media screen and (max-width:1349px) {
    .cards,.sale{
        border: 1px solid red;
        width: 100%;
    }

}
@media screen and (max-width:1349px) {
    .showmore>.number{
        border: 1px solid red;
        width: 80%;
    }

}
@media screen and (max-width:1024px) {
    .showmore>.number{
        border: 1px solid red;
        width: 78%;
    }

}
@media screen and (max-width:1349px) {
    .showmore>.number{
        border: 1px solid red;
        width: 80%;
    }

}
@media screen and (max-width:786px) {
    .showmore>.number{
        border: 1px solid red;
        width: 70%;
    }

}
@media screen and (max-width:600px) {
    .showmore>.number{
        border: 1px solid red;
        width: 60%;
    }

}
@media screen and (max-width:480px) {
    .showmore>.number{
        border: 1px solid red;
        width: 60%;
    }

}
@media screen and (max-width:360px) {
    .showmore>.number{
        display: none;
    }

}





@media screen and (max-width:1200px) {
    .cards,.sale{
        width: 100% ;
        /* border: 1px solid green; */
    }

}
@media screen and (max-width:1200px) {
    .card-title,.card-text,.card-body,.card,.card img{
        width: inherit;
        border: 1px solid red;
    }

}
@media screen and (max-width:786px) {
    .card-title,small,#orange{
        display: none;
    }

}

@media screen and (max-width:600px) {
    .card-text,.card-body,.card{
        display: none;
        height: 150px;
        border: 1px solid red;
    }

}
@media screen and (max-width:480px) {
    .sale>.cards,.sale>.cards>.card-text{
        display:contents;
        width: 280px;
        height: 200px;
        border: 1px solid red;
    }

}
@media screen and (max-width:360px) {
    .sale>.cards,.sale>.cards>.card-text{
        display:contents;
        width: 290px;
        margin: 10px auto;
        height: 350px;
        border: 1px solid red;
    }

}

@media screen and (max-width:1349px) {
    .darazmall{
        border: 1px solid red;
    }
    .items{
        flex-wrap: wrap;
    }

}
@media screen and (max-width:1349px) {
    .cats{
        flex-wrap: wrap;
    }

}
@media screen and (max-width:786px) {
    .foot{
        border: 1px solid red;
        width: 100%;
    }
    .footer1{
        margin: 0px;
    }
    .footer1>.list1{
        width: 40%;
        border: 1px solid red;
    }
    .footer1>.list2{
        width: 40%;
        border: 1px solid red;
    }
    .footer1>.list3{
        width:inherit;
        border: 1px solid red;
    }

}

@media screen and (max-width:600px) {
    .foot{
        border: 1px solid red;
        width: 100%;
    }
    .footer1{
        margin: 0px;
    }
    .footer1>.list1{
        width:50%;
        border: 1px solid red;
    }
    .footer1>.list2{
        width: 50%;
        border: 1px solid red;
    }
    .footer1>.list3{
        width:inherit;
        border: 1px solid red;
    }

}
@media screen and (max-width:360px) {
    .foot{
        border: 1px solid red;
        width: 100%;
    }
    .footer1{
        margin: 0px;
    }
    .footer1>.list1{
        width: 50%;
        border: 1px solid red;
    }
    .footer1>.list2{
        width: 50%;
        border: 1px solid red;
    }

}
@media screen and (max-width:360px) {
    .list3{
        display: none;
        /* border: 1px solid red; */
    }

}
@media screen and (max-width:480px) {
    .footer2{
        width: 100%;
        /* border: 1px solid red; */
    }
    .four{
        display: none;
    }

}










